:root{
  background-color: rgb(127, 195, 199);
}

#root{
  background-image: linear-gradient(to top right, rgb(207, 253, 255), rgb(255, 255, 255));
  border-radius: 5rem;
}

html{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  padding: 1.5rem;
  max-width: 64rem;
  margin: 0 auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input, .select-gusto {
  border: 1px solid #888888;
  padding: 0.5rem;
  width: 100%;
  border-radius: 1rem;
}

.fila {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-cantidad {
  border: 1px solid #888888;
  padding: 0.5rem;
  width: 5rem;
  border-radius: 1rem;
}

.boton {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  border-radius: 0.375rem;
  cursor: pointer;
}

.azul {
  background-color: #0062ff;
}

.verde {
  background-color: #30c968;
}

.lista {
  list-style: none;
  padding: 0px;
  margin-bottom: 1.5rem;
}